---
import PostHeader from './PostHeader.astro';
import FeaturedImage from './FeaturedImage.astro';
import PostCategories from './PostCategories.astro';
import ShareLinks from './ShareLinks.astro';
import { getReadingTime } from '../utils/readingTime';
import { getPostUrl } from '../utils/postUrl';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
  Content: astroHTML.JSX.Element;
  isH1?: boolean;
}

const { post, Content, isH1 = true } = Astro.props;
const { title, description, date, author, categories, featured, featuredpath, featuredalt } = post.data;
const permalink = getPostUrl(post.slug);
const readingTime = getReadingTime(post.body ?? '');
---

<article class="post">
  <PostHeader
    title={title}
    permalink={permalink}
    description={description}
    date={date}
    author={author}
    readingTime={readingTime}
    isH1={isH1}
  />

  <section id="social-share">
    <ul class="icons">
      <ShareLinks permalink={permalink} title={title} author={author} />
    </ul>
  </section>

  {featured && featuredpath && (
    <FeaturedImage
      featured={featured}
      featuredpath={featuredpath}
      featuredalt={featuredalt}
      date={date}
      permalink={permalink}
    />
  )}

  <div id="content">
    <Content />
  </div>

  <footer>
    <PostCategories categories={categories} />
  </footer>
</article>
