---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';

interface Props {
  title?: string;
  description?: string;
  author?: string;
  isHome?: boolean;
  showShareNav?: boolean;
  showCategories?: boolean;
}

const {
  title,
  description,
  author,
  isHome = false,
  showShareNav = false,
  showCategories = true,
} = Astro.props;
---

<BaseLayout title={title} description={description} author={author}>
  <Navbar isHome={isHome} showShareNav={showShareNav} />
  <!-- Main -->
  <div id="main">
    <slot name="before-main" />
    <slot />
  </div>
  <Sidebar showCategories={showCategories} />
</BaseLayout>
